<div class="IntermediateInfo">
  <div class="Spinner"></div>
<<<<<<< HEAD
  <h4 class="IntermediateInfo-title"><%- q || tag  ? 'Searching' : 'Loading' %>...</h4>
=======
  <h4 class="CDB-Text CDB-Size-large u-mainTextColor u-secondaryTextColor u-bSpace--m u-tSpace-xl"><%- q || tag  ? 'Searching' : 'Loading' %>...</h4>
  <div class="CDB-Text CDB-Size-medium u-altTextColor"><%= quote %></div>
>>>>>>> cartodb/bbg-0.0.1
</div>
